.active-button:hover {
  background-color: #fff;
  color: green;
}

.search-input-wrapper {
  width: 35%;
  margin: auto;
}

.search-result-container {
  margin: 30px 0;
}

.overview {
  color: #696969;
}

.subscribe-container {
  margin-bottom: 19px;
  text-align: right;
}

.pagination-container {
  text-align: center;
}

.custom-pagination {
  display: inline-block;
}