.search-input-wrapper {
  width: 35%;
  margin: auto;
}

.search-input-container {
  padding: 50px 0;
}

.search-result-container {
  margin: 30px 0;
}

.subscribe-container {
  margin-bottom: 19px;
  text-align: right;
}

.pagination-container {
  text-align: center;
}

.custom-pagination {
  display: inline-block;
}